<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Workout Music Recommender</title>

    <style>
    .h1{
        margin-left: 10px;
    }
    .h3{
        margin-left: 10px;
    }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="../../static/css/thumbnail-gallery.css" rel="stylesheet">

  </head>

  <body>

<h1 style="color:white;"> Welcome to Julie's Workout Music Recommender</h1><br>
<h3 style="color:white;"> Scroll over the plot to checkout song similarites or
                        <a href="{{ url_for('playlists')}}">select a playlist</a></h3>
<br>
<br>
<div>
    <a href="https://plot.ly/~jcream31/120/?share_key=Knl15JRfXsV9YxRwi7ENKj" target="_blank" title="Song Network" style="display: block; text-align: center;"><img src="https://plot.ly/~jcream31/120.png?share_key=Knl15JRfXsV9YxRwi7ENKj" alt="Song Network" style="max-width: 100%;width: 1200px;"  width="1200" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="jcream31:120" sharekey-plotly="Knl15JRfXsV9YxRwi7ENKj" src="https://plot.ly/embed.js" async></script>
</div>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>

</html>
